* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center; /* centers vertically */
  font-family: Arial, sans-serif;
}

.container {
  width: 30%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
